// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Lato', sans-serif !important;
}
p {
  margin: 0;
}
// color variants
@import 'themes-vars.module.scss';
@import './components/tons';
@import './components/formula';
@import './components/totalIncomeCards';
@import './components/materialStock';
@import './components/button';
@import './components/header';
@import './components/donutChart';
@import './components/totalTons';
@import './components/copyTotalIncome';
@import './components/muTabs';
@import './components/orders';
@import './components/noProductionData';
@import './components/headerFilters';
@import './components/cardFormula';
@import './components/statusIndicator';
@import './components/assignCard';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

/* ********************Start scrollbar************************ */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: $secondaryDark;
  border: thin solid gray;
  border-radius: 10px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $primaryDark;
}
/* ********************End scrollbar************************ */

.highcharts-drilldown-axis-label {
  text-decoration: none !important;
  fill: rgb(51, 51, 51) !important;
  font-weight: bold;
}

// /*  */
// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
//   background-color: #248ecc;
//   color: #f1f1f1;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
//   background-color: #f1f1f1;
//   color: #248ecc;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
//   color: #f1f1f1;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
//   background-color: #248ecc !important;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
//   color: #f1f1f1;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .css-787xpp-MuiTypography-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root:hover .css-11zje95-MuiTypography-root {
//   color: #248ecc;
//   transition: 0.2s;
// }

// /* header icons zindex */
// .css-advny6-MuiPopper-root {
//   z-index: 9999;
// }

/*  */

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
//   background-color: #248ecc;
//   color: #f1f1f1;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
//   background-color: #f1f1f1;
//   color: #248ecc;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
//   color: #f1f1f1;
// }

// .css-sfiba3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
//   background-color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
//   color: #f1f1f1;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .css-787xpp-MuiTypography-root {
//   color: #248ecc;
// }

// .css-19jumik-MuiButtonBase-root-MuiListItemButton-root:hover .css-11zje95-MuiTypography-root {
//   color: #248ecc;
//   transition: 0.2s;
// }

/* header icons zindex */
.css-advny6-MuiPopper-root {
  z-index: 9999 !important;
}

.MuiPopper-root .css-0 {
  z-index: 9999 !important;
}

.css-19jumik-MuiButtonBase-root-MuiListItemButton-root:hover .css-11zje95-MuiTypography-root {
  color: #248ecc !important;
}

// .css-75txt9-MuiTabPanel-root {
//   height: 368px;
//   overflow: scroll;
// }

.AdministrationBtn {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #fff 50%, #248ecc 50%);

  a {
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #248ecc;
    font-weight: 600;
  }

  &:hover {
    transform: scale(1.03);
    background-position: -100% 0;

    a {
      color: #fff;
    }
  }
}

.formula__information__details__type {
  width: 155px;
  margin: auto;
}

.formula__information__parent__type {
  width: 155px;
}

.css-1z0sfc2-MuiInputBase-root-MuiOutlinedInput-root {
  width: 150px !important;
}

.css-4jnixx-MuiStack-root > .MuiTextField-root {
  min-width: 0;
  margin-right: 10px;
  // margin-left: 8px;
}
