.tooltip-custom {
  background-color: #fff; /* Background color */
  border: 1px solid #7f82ff; /* Border color same as your label color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the tooltip */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional: adding some shadow for depth */
  color: #333; /* Text color */
  font-size: 14px; /* Consistent font size with chart labels */
}

.tooltip-custom span {
  display: block; /* Each piece of info on a new line */
  margin-bottom: 5px; /* Space between lines */
}
