.assignCard {
  background: $paper;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  transition: 0.2s;
  border-radius: 10px;

  &__assignName {
    border-right: 1px solid #ddd;
    padding: 30px;
    &--content {
      display: flex;
      align-items: flex-start;
      align-items: center;
      flex-direction: column;

      h3 {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        justify-content: center;
        img {
          width: 12%;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      span {
        margin-bottom: 10px;
        margin-top: -5px;
      }

      button {
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        border: 1px solid #ddd;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 10px;
        letter-spacing: 0.3px;
        color: $grey500;
      }
    }
  }

  &__addVac {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 10px 20px;
      border: none;
      text-transform: capitalize;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s, box-shadow 0.3s;
      font-size: 13px;
      outline: none;
      color: $grey500;
      border: 1px solid #ddd;

      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
      }
    }
  }

  .button-animate {
    animation: pulse 2s;
  }

  &__VaccineCard {
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    overflow: auto;
  }
}

.vaccineData {
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // align-items: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;

    &:nth-of-type(2) {
      margin: 10px 0px;
    }

    p {
      font-weight: 500;
      color: $grey500;
    }
  }
}

.assignCard__VaccineCard1 {
  display: flex;
  align-items: flex-start;
  padding: 0px 10px;
  justify-content: flex-end;
  // margin: 5px 0px;

  button {
    margin: 0px 0px;
    margin-left: 7px;
    color: #00c39a;

    &:nth-of-type(1) {
      color: #df3b5c;
    }
  }
}

.assignCard__VaccineCardForm {
  // height: 70%;
  display: flex;
  align-items: center;

  // justify-content: center;
  // padding: 0px 20px;
  // overflow: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.vaccineCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  box-shadow: rgba(233, 233, 233, 0.25) 0px 0px 0px -20px, rgba(187, 187, 187, 0.3) 0px 30px 0px -30px,
    rgba(149, 183, 218, 0.35) 0px -2px 6px 0px inset;
  padding: 5px 0px;
  border-radius: 10px;
  animation: fadeInUp 0.5s ease-out;
  border: 1px solid #ddd;
}
.assignBtn {
  animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
