.customButtons {
  margin-bottom: 10px;
  // text-align: right;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;

  &--button {
    letter-spacing: 0.2px;
    background-color: #fff;
  }

  &--button:first-child {
    margin-right: 10px;
  }
}

.addBtn {
  margin: 10px;
  margin-top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deleteBtn {
  color: red;
  margin-top: 26px;
}

.dots {
  // position: absolute;
  // right: 0px;
  // top: 5px;
  // z-index: 9999;

  &__btn {
    // padding: 0;
    // width: 20px;

    &:hover {
      // background: none;
    }
  }
}
