.cardFormula {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border-radius: 10px;
  padding: 25px;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 6px 4px rgba(67, 89, 113, 0.12);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin: 0;
    font-size: 15px;
    color: $grey500;
    font-weight: 400;
    margin-bottom: 13px;
  }

  &__main {
    &__title {
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
    }

    &__numbers {
      font-size: 22px;
      color: $grey500;
      font-weight: 500;
    }

    &__type {
      font-size: 14px;
      color: #78df41;
      margin-left: 8px;
    }
  }

  &__footer {
    font-size: 15px;
    color: $grey500;
  }

  &__icon {
    background-color: #e7e7ff;
    padding: 3px 6px;
    border-radius: 8px;
    color: #248ecc;
  }
}
