.card {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border-radius: 10px;
  padding: 25px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 6px 4px rgba(67, 89, 113, 0.12);
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      margin: 0;
      color: $grey500;
      font-weight: 600;
      letter-spacing: 0.3px;
      font-size: 17px;
    }

    span {
      font-size: 13px;
      color: $grey500;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__h5 {
    color: $grey500;
    font-size: 14px;
    margin: 0;
    font-weight: 100;
  }

  &__h2 {
    // margin: 0;
    // color: $grey500;
    // font-size: 17px;
    // font-weight: 500;
    // letter-spacing: 0.2px;
    margin: 0;
    color: $grey500;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 17px;
  }

  &--p1 {
    color: $grey500;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin: 10px 0px;
  }

  &--p2 {
    margin-top: 20px;
    color: #7ce046;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  &--error {
    color: rgb(233, 34, 34);
  }
}

.iconUp {
  font-size: 17px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  &__numbers {
    display: flex;
    flex-direction: column;

    &--span1 {
      font-size: 29px;
      font-weight: 500;
      color: $grey500;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      span {
        margin: 7px 0px;
      }
    }
    &--span2 {
      display: flex;
      align-items: center;
      margin-top: 15px;
      color: red;
    }
  }
}
