.donutCard {
  background: $paper;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  transition: 0.2s;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 6px 4px rgba(67, 89, 113, 0.12);
  }
}

.donutContainer {
  background: $paper;
  padding: 10px 20px 10px;
  border-radius: 10px 10px 0px 0px;
  position: relative;

  // height: 215px;
}

.donutContainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  &--h1 {
    margin: 0;
    color: $grey500;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 17px;
  }
}

.bonutChart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 20px;
}

.production {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &--span1 {
    font-size: 31px;
    font-weight: 500;
    color: $grey500;
    margin-bottom: 20px;
  }

  &--span2 {
    font-weight: 100;
    color: #a0a0a0;
    font-size: 16px;
  }
}
