.formula,
.createformula {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 10px;
  background-color: $paper;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 10px;

  &__title {
    letter-spacing: 0.2px;
    color: $grey700;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &--heading {
    border-radius: 10px 10px 0px 0px;
    // background-color: $secondaryDark;
    color: $grey600;
    padding: 10px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
    font-size: 16px;
    padding-left: 10px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
  }
}

.formula__buttons {
  background-color: $paper;
  margin-bottom: 10px;
  display: inline-block;

  &--button {
    letter-spacing: 0.2px;
  }
}

.formula__information {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: $paper;
  margin-top: 15px;
  padding: 10px;

  &__parent,
  &__details {
    background-color: $paper;
    // border-radius: 10px 10px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    &--raw {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__date {
      display: flex;
      // flex-wrap: wrap;
    }

    &__type,
    &__last {
      // margin-right: 10px;
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      padding: 10px;
      width: 100%;

      p {
        font-weight: bold;
        margin: 0;
        // margin-right: 10px;
        // min-width: 100px;
        margin-bottom: 10px;
        font-size: 13px;
      }
    }

    &__last {
      justify-content: flex-start;
    }
  }
}

.formula__Back {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:focus {
    color: #000;
  }
}

.formula__information__details__content {
  display: flex;
  justify-content: space-between;
}

.startDate,
.endDate,
.date {
  margin-bottom: 0px !important;
}

.css-4a5t8g-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 14px !important;
}

.fullWidthInput {
  width: 100%;
}

.formula__card {
  margin-bottom: 20px;
}

// SCSS styling (FormulaCard.scss)
.formula-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  padding: 10px;
  font-family: Arial, sans-serif;

  .formula-header {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .formula-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formula-count {
      color: #333;
      font-size: 24px;
      font-weight: bold;
    }

    .formula-types {
      color: #666;
      font-size: 12px;
    }
  }
}

.Nutrients {
  width: 100%;
}
