.dateContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  transition: box-shadow 0.3s ease;
  animation: fadeIn 1s ease-out; /* Fade-in animation */
  // margin-right: 10px;
  // cursor: default;

  button {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    margin: 0;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transitions for hover effects */
    animation: fadeInAndScale 1s ease-out; /* Animation for fade-in and scaling */
    font-weight: 600;
    color: #777;
    cursor: pointer;

    span {
      font-weight: 600;
      color: #71a596;
      color: #00c39a;
    }
  }
}

/* Keyframes for the fadeInAndScale animation */
@keyframes fadeInAndScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
