.materialStock {
  background-color: $paper;
  padding: 10px 10px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__h2 {
    margin: 0;
  }
}
