$primaryColor: #248ecc; // Gradient primary color
$secondaryColor: #ff6178; // Gradient secondary color
$fontStack: 'Arial', sans-serif;
$baseFontSize: 2em;
$shadowColor: rgba(0, 0, 0, 0.2);
$hoverShadowColor: rgba(0, 0, 0, 0.3);
$textShadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

.tabsContainer {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.fancy-text {
  font-family: $fontStack;
  font-size: $baseFontSize;
  color: white;
  background-image: linear-gradient(to right, $primaryColor, $secondaryColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px $shadowColor;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-shadow: $textShadow;
  border: none;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px $hoverShadowColor;
    cursor: pointer;
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.paginationContainer {
  display: flex;
  justify-content: flex-start; /* Aligns children (pagination) to the right */
}
