.productionCard,
.productionCard1,
.productionCard12 {
  height: 100%;
  background: #fff;
  height: 100%;
  border-radius: 10px;
  padding: 25px;
  animation: fadeInScaleUp 1s ease-in-out;
}

.productionCard1 {
  height: 255px;
}

.productionCard12 {
  // height: 203px;
  height: 278px;

  &:hover {
    transform: scale(1);
    box-shadow: none;
  }
}

.noDataContainer,
.noDataContainer1 {
  // background: #fff;
  height: 100%;
  // border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataContainer1 {
  height: 275px;
}

.noProductionsData {
  height: 100%;
  background-color: #f1f1f1;
  color: #248ecc;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  border-radius: 10px;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.noDataContainer p {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern, clean font */
  font-size: 20px; /* Prominent size for visibility */
  color: #fff; /* White text color */
  padding: 15px 30px; /* Padding for space around the text */
  border-radius: 10px; /* Rounded corners */
  background-image: linear-gradient(45deg, #248ecc 0%, #a6c0fe 100%); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  line-height: 1.8; /* Spacing between lines */
  text-align: center; /* Center-aligned text */
  margin: 20px auto; /* Vertical margin and center horizontally */
  max-width: 80%; /* Maximum width */
  position: relative; /* Required for pseudo-elements */
  overflow: hidden; /* Ensures pseudo-elements are within the border-radius */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  font-weight: bold; /* Bold font weight */
  animation: fadeInScaleRotate 2s ease-in-out; /* Animation for fade-in, scale, and rotate */
}

.noDataContainer p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Light overlay */
  transition: all 0.4s ease;
}

/* Hover effect */
.noDataContainer p:hover {
  transform: translateY(-5px); /* Slightly raise the element on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Increase shadow for a "lifted" effect */
}

.noDataContainer p:hover::before {
  left: 100%; /* Move the pseudo-element for a swipe effect */
}

@keyframes fadeInScaleRotate {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-10deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
