.orders {
  &__title {
    h5 {
      color: $grey500;
      font-weight: 500;
      letter-spacing: 1.5px;
      font-size: 12px;
      margin: 0;
      margin-bottom: 15px;
    }
  }
  &__details {
    margin-bottom: 22px;
    span {
      color: $grey500;
      font-size: 15px;
    }
  }
}
