/* StatusIndicator.css */

.status {
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.active {
  background-color: #90ee90; /* Light green background */
  color: #006400; /* Dark green text */
}

.inactive {
  background-color: #ffcccb; /* Light red background */
  color: #8b0000; /* Dark red text */
}

p {
  margin: 0;
}

.statusActive {
  color: green;
}

.statusInactive {
  color: red;
}
