h1 {
  font-size: 25px;
  font-weight: bold;
}

.darkSideBar {
  background-color: #484b52;
}

.ant-picker-dropdown {
  z-index: 9999 !important;
}

.ant-select-open {
  z-index: 9999 !important;
}

.abuErdanLogo {
  width: 50px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 50%;
}
.logoContainer {
  display: flex;
  align-items: center;
  // background-color: red;
  // padding: 10px;
  margin: 15px 0px;
}

.logoContainer h1 {
  color: $paper;
}

.tons {
  background-color: #fff;
  // padding: 10px 20px;
  // border-radius: 10px;
  // height: 475px;
  padding: 5px 20px;
  border-radius: 0px 0px 10px 10px;
  // height: 475px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tons h2 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.tons h1 {
  // margin: 0px 0px;
  margin-bottom: 25px;
  font-size: 27px;
}

.ton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color {
  width: 20px;
  height: 20px;
  background-color: red;
}

.color-Starter,
.color-Grower,
.color-Finisher,
.color-BroilerStarter,
.color-BreederStarterMash,
.color-BreederGrowerMash,
.color-BreederProduction01Mash,
.color-BreederProduction02Mash,
.color-BreederMaleMash {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #2caffe;
  border-radius: 50%;
  margin-right: 5px;
}
.color-Grower {
  background-color: #544fc5;
}
.color-Finisher {
  background-color: #00e272;
}
.color-BroilerStarter {
  background-color: #fe6a35;
}
.color-BreederStarterMash {
  background-color: #6b8abc;
}
.color-BreederGrowerMash {
  background-color: #2ee0ca;
}
.color-BreederProduction01Mash {
  background-color: #fa4b42;
}
.color-BreederProduction02Mash {
  background-color: #feb56a;
}
.color-BreederMaleMash {
  background-color: #91e8e1;
}

.tonTitle {
  font-weight: 500;
  font-size: 13px;
  margin: 0;
}

.Details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__Precentage {
    margin-right: 5px;
    font-weight: 500;
    color: #555;
    font-size: 13px;
  }
}
