h1 {
  font-size: 25px;
  font-weight: bold;
}

.darkSideBar {
  background-color: #484b52;
}

.ant-picker-dropdown {
  z-index: 9999 !important;
}

.ant-select-open {
  z-index: 9999 !important;
}

.abuErdanLogo {
  width: 50px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 50%;
}
.logoContainer {
  display: flex;
  align-items: center;
  // background-color: red;
  // padding: 10px;
  margin: 15px 0px;
}

.logoContainer h1 {
  color: $paper;
}

.tons {
  background-color: #fff;
  // padding: 10px 20px;
  // border-radius: 10px;
  height: 359px;
  padding: 5px 20px;
  border-radius: 0px 0px 10px 10px;
  // height: 475px;
  overflow: hidden;
  overflow: auto;

  &:hover {
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tons h2 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.tons h1 {
  // margin: 0px 0px;
  margin-bottom: 25px;
  font-size: 27px;
}

.ton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colorContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__color {
    &--Starter,
    &--Grower,
    &--Finisher,
    &--BroilerStarter,
    &--BreederStarterMash,
    &--BreederGrowerMash,
    &--BreederProduction01,
    &--BreederProduction02,
    &--BreederMaleMash {
      color: #a1acb8;
      background-color: #a1acb827;
      margin-right: 10px;
      // padding: 5px 10px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 3px;
    }
    &--Grower {
      color: #696cff;
      background-color: #696cff1e;
    }
    &--Finisher {
      color: #8592a3;
      background-color: #8592a322;
    }
    &--BroilerStarter {
      color: #03c3ec;
      background-color: #03c1ec23;
    }
    &--BreederStarterMash {
      color: #71dd37;
      background-color: #71dd371c;
    }
    &--BreederGrowerMash {
      color: #ffab00;
      background-color: #ffaa001c;
    }
    &--BreederProduction01 {
      color: #ff3e1d;
      background-color: #ff3f1d18;
    }
    &--BreederProduction02 {
      color: #2ee0ca;
      background-color: #2ee0cb25;
    }
    &--BreederMaleMash {
      color: #feb56a;
      background-color: #feb46a20;
    }
  }
}

.tonTitle1 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  color: #6f748a;
  letter-spacing: 0.1px;
}

.Details1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 27.5px;

  &__span {
    margin-right: 5px;
    // font-weight: bold;
    color: $grey500;
  }

  &__Precentage {
    margin-right: 5px;
    font-weight: 500;
    color: #555;
    font-size: 13px;
  }
}
