.totalIncomeCard {
  padding: 10px;
  border-left: 4px solid #3498db;
  //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__details__hours {
    margin-bottom: 10px;
  }

  &__details__hours,
  &__details__days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;

    &--hour,
    &--day {
      display: flex;
      align-items: center;
      margin: 10px 0;
      font-weight: 500;
      font-size: 13px;
      color: $grey700;
    }

    &--tons {
      font-weight: 600;
      color: $grey700;
    }
  }

  .hourIcon,
  .dayIcon {
    margin-right: 2px;
    color: #fff;
    font-size: 20px;
    // background-color: #248ecc;
    background-color: #2caffe;
    border-radius: 10px;
  }
}
