.errorPage .img {
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 50px;
  /* height: 100dvh; */
}

.errorPage .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.errorPage .wrapper h1 {
  font-size: 3rem;
  margin-top: 20px;
}
.errorPage .wrapper .message {
  font-size: 1.5rem;
  padding: 20px;
  width: 60%;
  text-align: center;
}
.errorPage .wrapper .btn {
  background: rgb(0, 195, 154);
  padding: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.errorPage .wrapper .btn:hover {
  background: rgb(0, 231, 201);
}
.errorPage .wrapper .copyRights {
  margin-top: 50px;
}
